@use "config/fonts" as f;
@use "config/variables" as v;
@use "mixin" as m;

/*BASE
---------------------------------------------------------------------------*/
html,body {
	margin: 0;
    padding: 0;
	height: 100%;
}

body {
    font-family: 'Noto Sans JP', sans-serif;
	-webkit-text-size-adjust: none;
	color: v.$base-white-color;
    @include m.txt-body;
    font-weight: 400;
    font-kerning: normal;
    position: relative;
}



/*LAYOUT
---------------------------------------------------------------------------*/

#container{
     width: 100%;
      background:linear-gradient(45deg,#444387,#231636,#7042A1);/*グラデーションを定義*/
      background-size: 150% 150%;/*サイズを大きくひきのばす*/
      animation: bggradient 5.0s ease infinite;  
    text-align: center;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*contents-container*/

.contents-container{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    position: relative;
    
     @include m.sp-size {
       width: calc( 100% - 40px );
        margin: 40px 20px;
        max-width: 100%;
    }
     
    h2{
        position: absolute;
        top:46px;
        left:0;
    }
}

.contents-container_bg-wh{
        background-color: #fff;
        max-width: 1280px;
        margin: 0 auto;
        box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
        border-radius: 30px;
        position: relative;
        color: #000;
        text-align: left;
    
   .contents-ttl{
        text-align: center;
        @include m.txt-xlg;
        font-weight: v.$font-weight-bold;
       margin-bottom: 40px;
    }
    
    dt{
        font-weight: v.$font-weight-bold;
        margin-top: 30px;
    }
    
     @include m.sp-size {
       width: calc( 100% - 40px );
        margin: 40px 20px;
        max-width: 100%;
    }
}

  .contents-container__inner{
         padding: 140px 80px 60px;
        
         @include m.between-pc-sp-size {
         padding: 140px 40px 60px;
        }

        
     @include m.sp-size {
        padding: 110px 20px 30px;
    }
        
    }




/*main*/
main{
    padding: 110px 0;
}






