@use "config/fonts" as f;
@use "config/variables" as v;
@use "mixin" as m;

/*BASE
---------------------------------------------------------------------------*/
html,body {
	margin: 0;
    padding: 0;
	height: 100%;
}

body {
	font-family: v.$base_font;
	-webkit-text-size-adjust: none;
	color: v.$base-white-color;
	line-height: 1.6;	
	overflow-x: hidden;
    font-size: 1rem;
    font-weight: 400;
    font-kerning: normal;
    
}


/*TYPO
---------------------------------------------------------------------------*/

h1,h2,h3,h4,h5,h6{
    font-family: "Raleway", sans-serif;
    font-style: normal;
    font-weight: 500;
}

.large-page-title{
    font-size: 80px;
    line-height: 94px;
}

h2{
    font-size: 80px;
    line-height: 94px;
    color: v.$primary-color;
    
    @include m.tablet-size {
         font-size: 50px;
        line-height: 59px;
    }
}

h3{
    font-size: 60px;
    line-height: 70px;
    color: v.$secondary-color;
    @include m.tablet-size {
        font-size: 33px;
        line-height: 50px;
    }
}



h4{
    font-size: 50px;
    line-height: 59px;
}
h5{
    font-size: 40px;
    line-height: 47px;
}

h6{
    font-size: 35px;
    line-height: 41px;
}

.lg-txt-bold{
    font-weight: v.$font-weight-bold;
    @include m.txt-lg;
}


.lg-txt-regular{
    font-weight: v.$font-weight-regular;
    @include m.txt-lg;
}

.md-txt-bold{
    font-weight: v.$font-weight-bold;
    @include m.txt-md;
}


.md-txt-regular{
    font-weight: v.$font-weight-regular;
    @include m.txt-md;
}

.sm-txt-bold{
    font-weight: v.$font-weight-bold;
    @include m.txt-sm;
}


.sm-txt-regular{
    font-weight: v.$font-weight-regular;
    @include m.txt-sm;
}


/*LAYOUT
---------------------------------------------------------------------------*/

#container{
     width: 100%;
      background:linear-gradient(45deg, #444387,#020302,#7042A1);/*グラデーションを定義*/
      background-size: 150% 150%;/*サイズを大きくひきのばす*/
      animation: bggradient 5.0s ease infinite;  
    text-align: center;
}

@keyframes bggradient{
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*contents-container*/

.contents-container{
    background-color: rgba(0, 0, 0, 0.7);
    max-width: 1280px;
    margin: 0 auto;
    box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.4);
    border-radius: 30px;
    padding: 0 80px;
    position: relative;
    
      @include m.between-pc-sp-size {
         padding: 0 40px;
    }

        
     @include m.sp-size {
        width: 90%;
        padding: 0;
    }
    
    h2{
        position: absolute;
        top:46px;
        left:0;
    }
}




/*main*/
main{
    padding: 110px 0;
}




/*PAGE TOP（↑）設定
---------------------------------------------------------------------------*/
.pagetop-show {display: block;}

/*ボタンの設定*/
.pagetop a {
	display: block;
    text-decoration: none;
    text-align: center;
    z-index: 10;
	position: fixed;
	right: 20px;
	bottom: 40px;
     color: #fff;
    background: rgba(0,0,0,0.4);
    border-radius: 50%;
    height: 60px;
    width: 60px;
    &::before {
        content:  '';
        width: 20px;
        height: 20px;
        display:  block;
        border-top: solid 2px;
        border-right: solid 2px;
        transform: rotate(-45deg);
        position:  absolute;
        top: 10px;
        bottom:  0;
        left:  0;
        right:  0;
        margin:  auto;
    }
	
}





