@use "config/variables" as v;
@use "mixin" as m;

/*FOOTER
---------------------------------------------------------------------------*/
footer{
    background: rgba(0, 0, 0, 0.6); 
    
    .footer__inner{
         max-width: v.$header-width;
         margin: 0 auto;
         display: flex;	
         align-items: center;
        justify-content: space-between;
        height: 176px;
        padding: 10px;
        
        @include m.sp-size {
            max-width: 100%;
            width: 100%;
            flex-direction: column;
            justify-content: inherit;
            align-items:stretch;
            
        }
    }
    
    .footer-logo__block{
        text-align: center;
         @include m.sp-size {
             text-align: left;
        }
    }
    
    .footer-logo{
        width: 126px;
        height: 45px;

        
        a{
            display: block;
        }
  
        img{
            width:100%;
        }   
    }
    
    .footer-copy{
        font-family: "Raleway", sans-serif;
          @include m.sp-size {
              @include m.txt-sm;
              margin-left: 10px;
        }
    }
    
    .footer__menu{
        display: flex;
        
        li{
            padding: 3px 16px;

            
            @include m.sp-size {
                padding:8px;
               @include m.txt-sm; 
                    margin: 10px auto;
            }
            
            a{
                color: v.$base-white-color;
                text-decoration: none;
            }
        }
            
    }
    
}