@use "config/variables" as v;

/* MIXIN
---------------------------------------------------------------------------*/


@mixin pc-size{
    @media screen and (min-width: (v.$device-tablet-size)) {
        @content;
    }
}

@mixin pc-tablet-size{
    @media screen and (min-width: (v.$device-sp-size)) {
        @content;
    }
}

@mixin between-pc-sp-size{
  
    @media screen and (min-width: (v.$device-sp-size)) and (max-width:(v.$size-container)) {
        @content;
    }
}

@mixin between-pc-tablet-size{
  
    @media screen and (min-width: (v.$device-tablet-size)) and (max-width:(v.$size-container)) {
        @content;
    }
}




@mixin tablet-size{
    @media screen and (max-width: (v.$device-tablet-size)) {
        @content;
    }
}

@mixin sp-size{
    @media screen and (max-width: (v.$device-sp-size)) {
        @content;
    }
}





//center//

@mixin p-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50% , -50%);
}


//typo//

$xlg-txt: 22px;
$lg-txt: 18px;
$body-txt: 16px;
$md-txt: 15px;
$sm-txt: 13px;
$xsm-txt: 11px;

$regular-line-height: 1.5em;




@mixin txt-xlg{
    font-size: $xlg-txt;
     line-height: 1.5em;
}



@mixin txt-lg{
    font-size: $lg-txt;
     line-height: 1.5em;
}

@mixin txt-body{
    font-size: $body-txt;
    line-height: 1.6em;
}


@mixin txt-md{
     font-size: $md-txt;
    line-height: 1.5em;
}

@mixin txt-sm{
    font-size: $sm-txt;
     line-height: 1.5em;
}

@mixin txt-xsm{
    font-size: $xsm-txt;
    line-height: 1.5em;
}



