/*section
---------------------------------------------------------------------------*/

.section__inner{
    //margin: 0 auto;
	//max-width: 1200px;
	//padding: 50px 60px;
   
}

.project-bgImg__wrap{
        //height:538px;
        background: #333333;
        padding: 40px 0;

    .project-bgImg{
        height:443px;
        width:100%;
        background: url(/image/Rectangle%201.png);
        background-size: cover;
        background-position: center;
        position: relative;
        box-sizing: border-box;
        }
    
}
.project-card{
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        width: 320px;
        height: 493px;
        text-align: center;
        background-color: rgba(255,255,255,0.8);
        filter: drop-shadow(7.85032px 7.85032px 7.85032px rgba(0, 0, 0, 0.4));
        border-radius: 12px;
        color: #000;
    
     }

        
        .project-card__inner{
            padding:10px;
        }
    
    .project-card__ttl{
        margin-top: 44px;
    }
    
    .project-card__line{
        background: #000;
        width:30px;
        height: 2px;
        margin: 20px auto 0;
    }
    
    .project-card__genre{
        margin-top: 21px;
        font-weight: 400;
        font-size: 14px;
        line-height: 23px;
    }
    
    .project-card__data{
        margin-top: 14px;  
        
        .item__container{
            display: flex;
            width:80px;
            margin: 0 auto;
        .item{
            width:40px;
            text-align: center;
        }
        
        .item__number{
            font-weight: 700;
            font-size: 16.5px;
            line-height: 23px;
        }
        
    }
        
    }
    .project-card__date{
        margin-top: 20px;
        font-weight: 400;
        font-size: 14px;
        line-height: 31px;
        
    }
    .project-card__txt{
        margin-top: 20px;
        font-size: 12.5605px;
        line-height: 17px;
        
    }
    
    .project-card__menu-block{
        margin-top: 20px;
          .item__container{
            display: flex;
            .item{
                width: calc( 100% / 3);
                text-align: center;
            }
              
              .item__txt{
                font-weight: 700;
                font-size: 14px;
                line-height: 16px;
              }
        }
    }
            
            
            








