@use "config/variables"as v;
@use "mixin"as m;


/* MODAL
---------------------------------------------------------------------------*/
///modal common///


.modal-box {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translateX(-50%) translateY(-50%);
    height: auto;
    margin: auto;
    max-height: 90%;

    
    &.modal-box_basic{
        width: 512px;
        z-index: 1000;
        backdrop-filter: blur(6px);
        border-radius: 10px;
        overflow-y:scroll;
        @include m.sp-size {
            width: 90%;
        }
        
        &.modal-box_basic__sm{
             width: 492px;
            z-index: 1001;
             overflow:hidden;
             @include m.sp-size {
                width: 85%;
            }
        }
        
        .modal_inner {
            background-color: rgba(122, 69, 229, 0.6);
        }
        
    }

    
    &.modal-box_edit {
        width: 847px;
        z-index: 1002;
        background: rgba(0, 0, 0, 0.85);
        border: 1px solid rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        
       @include m.tablet-size {
            width: 90%;
            inset: inherit;
            top: 80px;
            left: 50%;
            transform: translateX(-50%);
            -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
        }
    }
    
    .close-btn {
         z-index: 2;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
        background: url(../image/icons/icon-close.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .modal_inner {
        padding: 44px;
        color: #fff;
        text-align: left;

        @include m.sp-size {
            padding: 28px;
        }
    }
    
    
    ///scroll///
    
    &::-webkit-scrollbar {
      width: 20px;
        @include m.sp-size {
                width:16px;
            }
    }

    &::-webkit-scrollbar-track {
      background: rgba(84, 32, 189, 0.6);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(217, 199, 255, 0.4);
      border-radius: 10px;
      }

    
    ///btn///
    
      .btn-area {
        margin-top: 20px;
          &.btns_container{
              display: flex;
              justify-content: center;
              .btns{
                  padding: 0 10px;
              }
          }
    }
    
    .btn-modal-solid {
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        padding: 6px 26px;
        box-sizing: border-box;
        margin: 0 auto;
        display: inline-block;
        border-radius: 13px;
        background: #181818;
        color: v.$base-white-color;
        text-decoration: none;
        border:1px solid #fff;

    }

    .btn-retweet {
        font-size: 21px;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        width: 220px;
        border-radius: 22px;
        background: #181818;
        color: v.$base-white-color;
        text-decoration: none;
        
          @include m.sp-size {
                 font-size: 14px;
               width: 148px;
            }

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-right: 6px;
            background-image: url(../image/icons/icon-twitter_rt.svg);
            background-size: contain;
            
              @include m.sp-size {
                 width: 18px;
                  height: 18px;
            }
        }
    }
    
     ///form//
    .form_container{
        display: flex;
        @include m.sp-size {
            flex-direction: column;
        }
        
        &.second{
            margin-top: 16px;
        }
        .item_label{
             width:140px;
            padding-right: 20px;
            text-align: right;
            @include m.sp-size {
                text-align: left;
                width:100%;
                padding-right: 0;
            }
            
            label{
                display: inline-block;
                padding: 5px 0;
                font-size: 14px;
                 @include m.sp-size {
                    font-size: 13px;
                     padding: 0;
                }
            }
        }
        .item_txt{
             width: calc( 100% - 140px);
            position: relative;
             @include m.sp-size {
                width:100%;
            }
        }
        .count{
            position: absolute;
            right:10px;
            bottom:11px;
            font-size: 10px;
            line-height: 10px;
        }
        
        
    .form-text {
        font-size: 14px;
        height: 32px;
        width: 100%;
        padding: 5px 10px;
        border: none;
        box-shadow: 0 0 0 1px #ccc inset;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        @include m.sp-size {
               font-size: 12px;
            }
        
    }

    .form-text:focus {
        outline: 0;
    }
     textarea.form-text {
           height: 88px;
            display: block;
          
        }
    }

}




////modal-box_edit////

.modal-box_edit {
    .main-img_area{
        margin: 48px auto 0;
        @include m.sp-size {
           margin-top: 0;
        }
    }
    
    .main-img{
        
        position: relative;
        width:100%;
        height: 277px;
        background-repeat: no-repeat;
         @include m.sp-size {
             height: 152px;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
        }
    }
    .upload-btn{
        position: absolute;
        @include m.p-center;
        border-radius: 50%;
         background: url(../image/icons/icon-upload.svg) rgba(0, 0, 0, 0.8) no-repeat;
        background-size:20px 20px;
        background-position: center;
        &.size-lg{
             width:53px;
            height: 53px;
        }
         &.size-sm{
             width:44px;
            height: 44px;
              @include m.sp-size {
                 width:37px;
                 height: 37px;
             }
        }
    }
    
    
    .profile_thumbnail {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 30px;
        width: 100px;
        text-align: center;

        @include m.tablet-size {
/*            bottom: -29px;*/
            left: 17px;
            width: 72px;
        }

        .img-circle {
            display: inline-block;
            position: relative;
            overflow: hidden;
            border-radius: 50%;
            width: 100px;
            height: 100px;
            border: 4px solid #181818;
            vertical-align: top;

            @include m.tablet-size {
                width: 72px;
                height: 72px;
                border-width: 2px;
            }
            
              .upload-btn{
            z-index: 2;
        }

            > img {
                display: block;
                position: absolute;
                top: 50%;
                width: 100%;
                height: 100%;
                transform: translateY(-50%);
                object-fit: contain;
            }
        }
    }

    
}



//////////modal-box_basic////////////


.modal-box_basic {

    .modal_subject {
        font-size: 32px;
        line-height: 1.3em;
        font-weight: v.$font-weight-bold;
        @include m.sp-size {
             font-size: 25px;
             
        }
        
      

        .item-before-icon {
            &::before {
                width: 38px;
                height: 38px;

                @include m.sp-size {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    .modal_name {
        font-weight: v.$font-weight-regular;
        margin-top: 5px;
        @include m.txt-lg;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }

    .modal_detail__container {
        display: flex;
        margin-top: 10px;

        .block_thumb {
            width: 120px;

            @include m.sp-size {
                width: 88px;
            }
        }

        .block_txt {
            margin-left: 15px;
            width: calc(100% - 120px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 88px);
            }
        }
    }
    
    .modal_badge-status{
        text-align: right;
    }

    .status-container {
        @include m.txt-md;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }


    .modal_matic {
        text-align: right;
        margin-top: 40px;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 40px;
            line-height: 54px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 17px;
            line-height: 24px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }

    }

    .modal_action {
        margin-top: 16px;
        display: block;
        width: 100%;
        padding: 32px 12px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 20px;
        line-height: 41px;
        font-weight: v.$font-weight-bold;
        text-align: center;
        color: v.$base-white-color;
        text-decoration: none;
        position: relative;

        @include m.sp-size {
            padding: 18px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    ///仮////
    .open-block {
        @include m.txt-md;
        font-weight: v.$font-weight-regular;
        text-align: left;
    }

    
     ///TWETTER-RT////
    .tweet-block {

        dt {
            font-size: 20px;
            margin-top: 30px;

            @include m.sp-size {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        //仮tweetbox
        dd {
            margin-top: 13px;
            width: 100%;
            height: 200px;
            border-radius: 15px;
            background: v.$base-white-color;
            
            @include m.sp-size {
               margin-top: 8px;
                height: 138px;
            }

        }

    }

  
    
    //////LIVE/////////////
        
    .live-block__container {
        display: flex;
        align-items: center;
        margin-top: 26px;

        .block_thumb {
            width: 92px;

            @include m.sp-size {
                width: 68px;
            }
        }

        .block_txt {
            margin-left:40px;
            width: calc(100% - 92px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 68px);
            }
        }
        
        
        .live_ttl{
            font-size:20px;
            line-height: 27px;
            font-weight: v.$font-weight-bold;
            
             @include m.sp-size {
                 font-size:16px;
                line-height: 20px;
                font-weight: v.$font-weight-bold;
            }
        }
        
        .status_lv{
            .num{
                 font-size: 22px;
                line-height: 22px;
             }
        }
        
         .modal-live_matic {
        text-align: right;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 32px;
            line-height: 44px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 14px;
            line-height: 19px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }
    }
    }
}




