@use "config/variables"as v;
@use "mixin"as m;


/* MODAL
---------------------------------------------------------------------------*/
///modal common///


.modal-box {
    position: fixed;
    inset: 50% auto auto 50%;
    transform: translateX(-50%) translateY(-50%);
    height: auto;
    margin: auto;
    max-height: 90%;

    
    &.modal-box_basic{
        width: 532px;//512+26
        z-index: 1000;
        backdrop-filter: blur(20px);
        border-radius: 10px;
        overflow-y:auto;
        box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.6);
        @include m.sp-size {
            width: 90%;
        }
        
        &.modal-box_basic__sm{
             width: 492px;
            z-index: 1001;
             overflow:hidden;
             @include m.sp-size {
                width: 85%;
            }
        }
        
        .modal_inner {
            background-color: rgba(122, 69, 229, 0.6);
        }
        
    }

    
    &.modal-box_edit {
        width: 746px;
        z-index: 1002;
        background: rgba(0, 0, 0, 0.85);
        border: 1px solid rgba(255, 255, 255, 0.7);
        backdrop-filter: blur(10px);
        border-radius: 20px;
        min-height: 715px;
        
       @include m.sp-size {
           width: 343px;
           min-height: 597px;
        }
    }
    
    .close-btn {
         z-index: 2;
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
        background: url(../image/icons/icon-close.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .modal_inner {
        padding: 30px;
        color: #fff;
        text-align: left;

        @include m.sp-size {
            padding: 20px;
        }
    }
    

    
    
    ///scroll///
    
    &::-webkit-scrollbar {
      width: 20px;
        @include m.sp-size {
                width:16px;
            }
    }

    &::-webkit-scrollbar-track {
      background: rgba(84, 32, 189, 0.6);
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(217, 199, 255, 0.4);
      border-radius: 10px;
      }

    
    ///btn///
    
      .btn-area {
        margin-top: 20px;
          &.btns_container{
              display: flex;
              justify-content: center;
              .btns{
                  padding: 0 10px;
              }
          }
    }
    
    .btn-modal-solid {
        font-size: 13px;
        line-height: 13px;
        text-align: center;
        padding: 6px 26px;
        box-sizing: border-box;
        margin: 0 auto;
        display: inline-block;
        border-radius: 13px;
        background: #181818;
        color: v.$base-white-color;
        text-decoration: none;
        border:1px solid #fff;

    }

    .btn-retweet {
        font-size: 21px;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        width: 220px;
        border-radius: 22px;
        background: #181818;
        color: v.$base-white-color;
        text-decoration: none;
        
          @include m.sp-size {
                 font-size: 14px;
               width: 148px;
            }

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-right: 6px;
            background-image: url(../image/icons/icon-twitter_rt.svg);
            background-size: contain;
            
              @include m.sp-size {
                 width: 18px;
                  height: 18px;
            }
        }
    }
    
     ///form//
    .form_container:first-of-type{
            margin-top: 0;
        }
    
    .form_container{
        display: flex;
        align-items: center;
         margin-top: 16px;
 
        @include m.sp-size {
            flex-direction: column;
        }
 
        .item_label{
             width:140px;
            padding-right: 20px;
            text-align: right;
            @include m.sp-size {
                text-align: left;
                width:100%;
                padding-right: 0;
            }
            
            label{
                display: inline-block;
                font-size: 14px;
                 @include m.sp-size {
                    font-size: 13px;
                     padding: 0;
                }
            }
        }
        .item_txt{
             flex: 1;
            position: relative;
             @include m.sp-size {
                width:100%;
            }
        }
        .count{
            position: absolute;
            right:10px;
            bottom:11px;
            font-size: 10px;
            line-height: 10px;
        }
        
        
    .form-text {
        @include m.txt-sm;
        height: 32px;
        width: 100%;
        padding: 5px 10px;
        border: none;
        box-shadow: 0 0 0 1px #ccc inset;
        appearance: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        background-color: transparent;
        color: rgba(255, 255, 255, 0.3);
        @include m.sp-size {
               font-size: 12px;
            }
        
    }

    .form-text:focus {
        outline: 0;
    }
     textarea.form-text {
           height: 88px;
            display: block;
         @include m.sp-size {
             height: 77px;
         }
          
        }
    }

}

//parts///
img.square-img{
                border-radius: 15px;
            }




////modal-box_edit////

.modal-box_edit {
    .main-img_area{
        margin: 48px auto 0;
        @include m.sp-size {
           margin-top: 0;
        }
    }
    
    .main-img{
        
        position: relative;
        width:100%;
        height: 277px;
        background-repeat: no-repeat;
         @include m.sp-size {
             height: 152px;
            border-radius: 20px 20px 0 0;
            overflow: hidden;
        }
    }
    .upload-btn{
        position: absolute;
        @include m.p-center;
        border-radius: 50%;
         background: url(../image/icons/icon-upload.svg) rgba(0, 0, 0, 0.8) no-repeat;
        background-size:20px 20px;
        background-position: center;
        &.size-lg{
             width:53px;
            height: 53px;
        }
         &.size-sm{
             width:44px;
            height: 44px;
              @include m.sp-size {
                 width:37px;
                 height: 37px;
             }
        }
    }
    
    
    .profile_thumbnail {
        z-index: 3;
        position: absolute;
        bottom: 0;
        left: 26px;
        width: 100px;
        text-align: center;

        @include m.sp-size {
            left: 17px;
            width: 72px;
        }

        .img-circle {
            border-radius: 50%;
            width: 88px;
            height: 88px;
            border: 4px solid #181818;

            @include m.sp-size {
                width: 72px;
                height: 72px;
                border-width: 2px;
            }
            
              .upload-btn{
                z-index: 2;
            }

          
        }
    }

    
}



//////////modal-box_basic////////////


.modal-box_basic {

    .modal_subject {
        font-size: 32px;
        line-height: 1.3em;
        font-weight: v.$font-weight-bold;
        &.subject_sm{
            @include m.txt-x2lg;
        }
        @include m.sp-size {
             font-size: 25px;
        }
        
      

        .item-before-icon {
            &::before {
                width: 38px;
                height: 38px;

                @include m.sp-size {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    .modal_name {
        font-weight: v.$font-weight-regular;
        margin-top: 5px;
        @include m.txt-lg;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }

    .modal_detail__container {
        display: flex;
        margin-top: 10px;

        .block_thumb {
            width: 120px;

            @include m.sp-size {
                width: 88px;
            }
        }
        
        .block_square-thumb{
           width:150px;
        }

        .block_txt {
            margin-left: 15px;
           flex: 1;

            @include m.sp-size {
                margin-left: 10px;
            }
        }
    }
   
    
    .modal_badge-status{
        text-align: right;
    }

    .status-container {
        @include m.txt-md;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }


    .modal_matic {
        text-align: right;
        //margin-top: 40px;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 40px;
            line-height: 54px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 17px;
            line-height: 24px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }

    }


    ///開閉////
    .open-block {
        @include m.txt-md;
        font-weight: v.$font-weight-regular;
        text-align: left;
        padding: 10px;
    }
    
    /////modal action/////

    
    
    .detail-txt{
        position: relative;
        padding: 12px 0 18px;
        
        .detail-txt_ttl{
            font-weight: v.$font-weight-bold;
            @include m.txt-md;
        }
        p{
            @include m.txt-sm ;
            overflow: hidden;
            display: -webkit-box;
            -webkit-box-orient: vertical;
            -webkit-line-clamp: 2;
        }
        .action-btn{
            bottom:2px;
        }
    }
    
//twitter 説明//

.modal_action__num-list{
    counter-reset: count 0;
    
    li{
        margin-bottom: 20px;
        &:last-child{
            margin-bottom: 0;
        }
    }
    
    li:before {
      content: counter(count) ". ";
      counter-increment: count 1;
    }
    
}

    
     ///TWETTER-RT////
    .tweet-block {

        dt {
            font-size: 20px;
            margin-top: 30px;

            @include m.sp-size {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        //仮tweetbox
        dd {
            margin-top: 13px;
            width: 100%;
            height: 200px;
            border-radius: 15px;
            background: v.$base-white-color;
            
            @include m.sp-size {
               margin-top: 8px;
                height: 138px;
            }

        }

    }

  
    
    //////LIVE/////////////
  
  
    .live-block_ttl {
         font-weight: v.$font-weight-bold;
        @include m.txt-md;
        
    }
    .live-block {
        display: flex;
        align-items: center;
        margin-top: 16px;
         
      

        .block_thumb {
            width: 92px;

            @include m.sp-size {
                width: 68px;
            }
        }

        .block_txt {
            margin-left:40px;
              flex: 1;

            @include m.sp-size {
                margin-left: 10px;
            }
        }
        
        
        .live_ttl{
            font-size:20px;
            line-height: 27px;
            font-weight: v.$font-weight-bold;
            
             @include m.sp-size {
                 font-size:16px;
                line-height: 20px;
                font-weight: v.$font-weight-bold;
            }
        }
        
         .live_ttl__single{
            @include m.txt-lg;
            font-weight: v.$font-weight-bold;
            
        }
        
        .status_lv{
            .num{
                 font-size: 22px;
                line-height: 22px;
             }
        }
        
         .modal-live_matic {
        text-align: right;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 32px;
            line-height: 44px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 14px;
            line-height: 19px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }
    }
    }
    
    .live-block-mypage{
        .live-block:first-of-type{
            margin-top: 0;
        }
    }
    
    .live-block-detailpage{
        .live-block:first-of-type{
            margin-top: 5px;
        }
    }
}


//////toggle-button/////////////
.toggle-block{
    display: flex;
    margin-bottom: 10px;
}
.toggle-block_name{
    @include m.txt-md;
    width:110px;
}
.toggle-block_question{
        width:26px;
    img{
         width: 20px;
    }
   
}

.toggle-block_txt{
    flex: 1;
    font-size: 11px;
    line-height: 12px;
}


.setting-toggle-button {
    display: inline-block;
    position: relative;
    width: 42px;//
    height: 21px;//
    border-radius: 21px;//
    background-color: #dddddd;
    cursor: pointer;
    transition: background-color .4s;
}

.setting-toggle-button:has(:checked) {
    background-color: #7a45e5;
}

.setting-toggle-button:after {
    position: absolute;
    top: 3px;
    left: 4px;
    width: 15px;//
    height: 15px;//
    border-radius: 50%;
    box-shadow: 0 0 5px rgb(0 0 0 / 20%);
    background-color: #fff;
    content: '';
    transition: left .4s;
}

.setting-toggle-button:has(:checked)::after {
    left: 21px;//
}

.setting-toggle-button input {
    display: none;
}




