@use "config/variables"as v;
@use "mixin"as m;


/* MODAL
---------------------------------------------------------------------------*/


//////////MODAL////////////

.modal-box {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 512px;
    height: 820px;
    z-index: 110;
    background-color: rgba(122, 69, 229, 0.6);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    overflow: scroll;
    @include m.sp-size {
        width: 90%;
        height: 720px;
    }
    
    &.modal-live-detail{
        z-index: 111;
    }

    .modal_inner {
        padding: 44px;
        color: #fff;
        text-align: left;

        @include m.sp-size {
            padding: 28px;
        }
    }

    .close-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
        background: url(../image/icons/icon-close.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .modal_subject {
        font-size: 38px;
        line-height: 44px;
        font-weight: v.$font-weight-bold;
        @include m.sp-size {
            font-size: 25px;
            font-size: 32px;
        }
        
        .txt_subject{
            font-size: 32px;
        }

        .item-before-icon {
            &::before {
                width: 38px;
                height: 38px;

                @include m.sp-size {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    .modal_name {
        font-weight: v.$font-weight-regular;
        @include m.txt-xlg;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }

    .modal_detail__container {
        display: flex;
        margin-top: 10px;

        .block_thumb {
            width: 120px;

            @include m.sp-size {
                width: 88px;
            }
        }

        .block_txt {
            margin-left: 15px;
            width: calc(100% - 120px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 88px);
            }
        }
    }
    
    .modal_badge-status{
        text-align: right;
    }

    .status-container {
        @include m.txt-md;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }


    .modal_matic {
        text-align: right;
        margin-top: 40px;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 40px;
            line-height: 54px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 17px;
            line-height: 24px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }

    }

    .modal_action {
        margin-top: 16px;
        display: block;
        width: 100%;
        padding: 32px 12px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 20px;
        line-height: 41px;
        font-weight: v.$font-weight-bold;
        text-align: center;
        color: v.$base-white-color;
        text-decoration: none;
        position: relative;

        @include m.sp-size {
            padding: 18px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    ///仮////
    .open-block {
        @include m.txt-md;
        font-weight: v.$font-weight-regular;
        text-align: left;
    }

    
     ///TWETTER-RT////
    .tweet-block {

        dt {
            font-size: 20px;
            margin-top: 30px;

            @include m.sp-size {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        //仮tweetbox
        dd {
            margin-top: 13px;
            width: 100%;
            height: 200px;
            border-radius: 15px;
            background: v.$base-white-color;
            
            @include m.sp-size {
               margin-top: 8px;
                height: 138px;
            }

        }

    }

    .btn-area {
        margin-top: 20px;
    }

    .btn-retweet {
        font-size: 21px;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        width: 220px;
        border-radius: 22px;
        background: #181818;
        color: v.$base-white-color;
        
          @include m.sp-size {
                 font-size: 14px;
               width: 148px;
            }

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-right: 6px;
            background-image: url(../image/icons/icon-twitter_rt.svg);
            background-size: contain;
            
              @include m.sp-size {
                 width: 18px;
                  height: 18px;
            }
        }

    }
    
    //////LIVE/////////////
        
    .live-block__container {
        display: flex;
        align-items: center;
        margin-top: 26px;

        .block_thumb {
            width: 92px;

            @include m.sp-size {
                width: 68px;
            }
        }

        .block_txt {
            margin-left:40px;
            width: calc(100% - 92px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 68px);
            }
        }
        
        
        .live_ttl{
            font-size:20px;
            line-height: 27px;
            font-weight: v.$font-weight-bold;
            
             @include m.sp-size {
                 font-size:16px;
                line-height: 20px;
                font-weight: v.$font-weight-bold;
            }
        }
        
        .status_lv{
            .num{
                 font-size: 22px;
                line-height: 22px;
             }
        }
        
         .modal-live_matic {
        text-align: right;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 32px;
            line-height: 44px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 14px;
            line-height: 19px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }
    }
    }
}