@use "config/variables"as v;
@use "mixin"as m;


/* MY PAGE
---------------------------------------------------------------------------*/

//responsive//
section.mypage-header-section {
    .status-container,
    .info_block{
        @include m.txt-md;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }

}

///cover/////

.cover-profile {
    position: relative;
}


.cover-area {
    position: relative;

    .cover-img {
        width: 100%;
    }

    .shade {
        position: absolute;
        width: 100%;
        height: 100%;
        z-index: 1;
        background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 70%, rgba(0, 0, 0, 0.6) 100%);
    }
}

.edit-btn {
    position: absolute;
    z-index: 10;
    display: block;
    width: 50px;
    height: 50px;
    right: 12px;
    top: 8px;
    border-radius: 50%;
    background: url(../image/icons/icon-edit.svg), rgba(24, 24, 24, 0.6);
    background-size: 22px;
    background-repeat: no-repeat;
    background-position: center;

    @include m.tablet-size {
        width: 34px;
        height: 34px;
        background-size: 16px;

    }
}


.profile_thumbnail {
    z-index: 3;
    position: absolute;
    bottom: -49px;
    left: 0;
    width: 205px;
    text-align: center;

    @include m.tablet-size {
        bottom: -29px;
        left: 17px;
        width: 72px;
    }

    .img-circle {
        display: inline-block;
        position: relative;
        overflow: hidden;
        border-radius: 50%;
        width: 120px;
        height: 120px;
        border: 4px solid #181818;
        vertical-align: top;

        @include m.tablet-size {
            width: 72px;
            height: 72px;
            border-width: 2px;
        }

        > img {
            display: block;
            position: absolute;
            top: 50%;
            width: 100%;
            height: 100%;
            transform: translateY(-50%);
            object-fit: cover;
        }
    }
}

.profile_block {
    position: absolute;
    left: 205px;
    bottom: 15px;
    z-index: 2;
    width: calc(100% - 245px);
    text-align: left;

    @include m.tablet-size {
        position: initial;
        left: 0;
        bottom: 0;
        z-index: 0;
        margin-top: 30px;
        width: 100%;
        padding: 0 40px;
    }

    @include m.sp-size {
        padding: 0 16px;
    }


    .block_ttl {
        font-size: 25px;
        line-height: 34px;
        font-weight: v.$font-weight-bold;

        @include m.sp-size {
            font-size: 20px;
            line-height: 27px;
        }

        .ttl-lock{
            &::after {
            content: '';
            display: inline-block;
            width: 20px;
            height: 20px;
            background-image: url(../image/icons/icon-lock.svg);
            background-size: contain;
            vertical-align: baseline;
            margin-left: 6px;

            @include m.sp-size {
                width: 16px;
                height: 16px;
                margin-left: 4px;
            }
        }
            
        }

        
    }

}


///url ellipsis///
.url-block {
    overflow: hidden;
    max-width: 75%;
    text-overflow: ellipsis;
    white-space: nowrap;
    display: inline-block;

    @include m.tablet-size {
        max-width: 400px;
    }

    @include m.sp-size {
        max-width: 210px;
    }
}

a.url-link {
    display: inline-block;
    width: 16px;
    height: 16px;
}


////info_block/////

.info_block {
    padding-left: 205px;
    margin-top: 16px;
    text-align: left;
    padding-right: 80px;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @include m.tablet-size {
        flex-direction: column;
        padding: 0 40px;
    }

    @include m.sp-size {
        padding: 0 16px;
    }

    .block_txt {
        color: v.$base-white-color;
        width: calc(100% - 230px);
        padding-right: 60px;
        word-wrap: break-word;

        @include m.tablet-size {
            width: 100%;
            padding-right: 0;
        }
    }

    .block_matic {
        width: 230px;
        text-align: right;

        @include m.tablet-size {
            width: 100%;
        }
    }

}


///my badge ////


.mybadge-section {
    margin-top: 40px;
    position: relative;
    padding-top: 60px;

    h2 {
        top: 0;
    }
}


.mybadge-container {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;

    li {
       width: 142px;
        
        @include m.sp-size {
          width: calc(100% / 4);
        }
       
    }
    
    .badge{
        padding: 13px;
        @include m.sp-size {
            padding: 8px;
        }
    }


    
    .badge-status{
        display: flex;
        justify-content: space-between;
        
        .status_icon{
         
            img{
                width:26px;
                height: 26px;
                @include m.sp-size {
                width:19px;
                height: 19px;
                }
            }
           
        }
        
       
    }


}

.switch-container {

    .switch-list {
        margin: 0 0 0 auto;
        display: block;
        width: 34px;
        height: 34px;
        background-image: url(../image/icons/icon-list.svg);
        background-size: contain;
    }

    .switch-grid {
        margin: 0 0 0 auto;
        display: block;
        width: 34px;
        height: 34px;
        background-image: url(../image/icons/icon-grid.svg);
        background-size: contain;
    }
}

.nav-mybadge {
    display: flex;
    justify-content: flex-end;
    margin-top: 5px;

    li {
        margin-left: 20px;

        a {
            color: v.$base-white-color;
            text-decoration: none;
        }

    }
}


//////////MODAL////////////

.modal-box {
    position: fixed;
    inset: 0;
    margin: auto;
    width: 512px;
    height: 820px;
    z-index: 10;
    background-color: rgba(122, 69, 229, 0.7);
    backdrop-filter: blur(6px);
    border-radius: 10px;
    overflow: scroll;

    @include m.sp-size {
        width: 90%;
        height: 720px;
    }

    .modal_inner {
        padding: 44px;
        color: #fff;
        text-align: left;

        @include m.sp-size {
            padding: 28px;
        }
    }

    .close-btn {
        position: absolute;
        width: 16px;
        height: 16px;
        top: 16px;
        right: 16px;
        background: url(../image/icons/icon-close.svg) no-repeat;
        background-size: contain;
        background-position: center;
    }

    .modal_subject {
        font-size: 38px;
        font-weight: v.$font-weight-bold;
        @include m.sp-size {
            font-size: 25px;
        }
        
        .txt_subject{
            font-size: 32px;
        }

        .item-before-icon {
            &::before {
                width: 38px;
                height: 38px;

                @include m.sp-size {
                    width: 25px;
                    height: 25px;
                }
            }
        }

    }

    .modal_name {
        font-weight: v.$font-weight-regular;
        @include m.txt-xlg;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }

    .modal_detail__container {
        display: flex;
        margin-top: 10px;

        .block_thumb {
            width: 120px;

            @include m.sp-size {
                width: 88px;
            }
        }

        .block_txt {
            margin-left: 15px;
            width: calc(100% - 120px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 88px);
            }
        }
    }
    
    .modal_badge-status{
        text-align: right;
    }

    .status-container {
        @include m.txt-md;

        @include m.sp-size {
            @include m.txt-sm;
        }
    }


    .modal_matic {
        text-align: right;
        margin-top: 40px;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 40px;
            line-height: 54px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 17px;
            line-height: 24px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }

    }

    .modal_action {
        margin-top: 16px;
        display: block;
        width: 100%;
        padding: 32px 12px;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 10px;
        font-size: 20px;
        line-height: 41px;
        font-weight: v.$font-weight-bold;
        text-align: center;
        color: v.$base-white-color;
        text-decoration: none;
        position: relative;

        @include m.sp-size {
            padding: 18px;
            font-size: 13px;
            line-height: 18px;
        }
    }

    ///仮////
    .open-block {
        @include m.txt-md;
        font-weight: v.$font-weight-regular;
        text-align: left;
    }

    
     ///TWETTER-RT////
    .tweet-block {

        dt {
            font-size: 20px;
            margin-top: 30px;

            @include m.sp-size {
                font-size: 14px;
                margin-top: 20px;
            }
        }
        //仮tweetbox
        dd {
            margin-top: 13px;
            width: 100%;
            height: 200px;
            border-radius: 15px;
            background: v.$base-white-color;
            
            @include m.sp-size {
               margin-top: 8px;
                height: 138px;
            }

        }

    }

    .btn-area {
        margin-top: 20px;
    }

    .btn-retweet {
        font-size: 21px;
        text-align: center;
        padding: 6px;
        box-sizing: border-box;
        margin: 0 auto;
        display: block;
        width: 220px;
        border-radius: 22px;
        background: #181818;
        color: v.$base-white-color;
        
          @include m.sp-size {
                 font-size: 14px;
               width: 148px;
            }

        &::before {
            content: '';
            display: inline-block;
            width: 24px;
            height: 24px;
            vertical-align: middle;
            margin-right: 6px;
            background-image: url(../image/icons/icon-twitter_rt.svg);
            background-size: contain;
            
              @include m.sp-size {
                 width: 18px;
                  height: 18px;
            }
        }

    }
    
    //////LIVE/////////////
        
    .live-block__container {
        display: flex;
        align-items: center;
        margin-top: 26px;

        .block_thumb {
            width: 92px;

            @include m.sp-size {
                width: 68px;
            }
        }

        .block_txt {
            margin-left:40px;
            width: calc(100% - 92px);

            @include m.sp-size {
                margin-left: 10px;
                width: calc(100% - 68px);
            }
        }
        
        
        .live_ttl{
            font-size:20px;
            line-height: 27px;
            font-weight: v.$font-weight-bold;
            
             @include m.sp-size {
                 font-size:16px;
                line-height: 20px;
                font-weight: v.$font-weight-bold;
            }
        }
        
        .status_lv{
            .num{
                 font-size: 22px;
                line-height: 22px;
             }
        }
        
         .modal-live_matic {
        text-align: right;

        .matic_num {
            font-weight: v.$font-weight-regular;
            font-size: 32px;
            line-height: 44px;

            @include m.sp-size {
                font-size: 27px;
                line-height: 37px;
            }

            &::before {
                width: 22px;
                height: 22px;

                @include m.sp-size {
                    width: 16px;
                    height: 16px;
                }
            }
        }

        .matic_unit {
            font-size: 14px;
            line-height: 19px;

            @include m.sp-size {
                @include m.txt-sm;
            }
        }
    }
    }
        


}

/////?????
.detail-cover_bg {
    background: url(../image/detail/detail-bg.png) no-repeat;
    background-size: cover;
    width: 100%;
    height: 600px;
    padding-top: 30px;
    border-bottom: 2px solid red;

    .detail-cover {
        width: 100%;
        min-height: 400px;
        background: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(6px);

    }
}

////////