
@use "config/variables" as v;
@use "mixin" as m;


/* PROJECTS
---------------------------------------------------------------------------*/

.projects-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &:after{
      content:"";
      display: block;
      width:30%;
    }
    
    @include m.sp-size {
       flex-direction: column;
    }
}

.projects{
    width:316px;
    padding-bottom: 60px;
    @include m.sp-size {
       width: 280px;
       margin: 0 auto;
    }
    
    .projects_thumb_link{
        display: block;
    }
    
    .projects_thumb{
         width:316px;
        height: 310px;
        position: relative;
        border-radius: 5px;
        background-repeat: no-repeat;
            background-size: 50%;
        
        
        
        @include m.sp-size {
            width: 280px;
            height: 275px;
        }
      
        
       
         .shade{
            width:100%;
            height: 100%;
            position: absolute;
            z-index: 1;
            background: linear-gradient(to bottom, rgba(255,255,255,0) 60%, rgba(0,0,0,0.9) 100%);
        }
        
        .projects_thumb_ttl{
            position: absolute;
            margin: auto;
            left:0;
            right:0;
            bottom:0;
             width:100%;
            height: auto;
            z-index: 2;
            img{
                width:100%;
            }
        } 
    }
    
    
}





