@use "config/variables"as v;
@use "mixin"as m;


/* PROJECT=DETAIL PAGE
---------------------------------------------------------------------------*/
//section//
.contents-section {
    //margin-top: 30px;
}

.detail-cover-bg {
    padding-bottom: 25px;
    background-size: cover;
    background-repeat: none;
    width: 100%;
}

.detail-cover-blur {
    background: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(6px);
    padding: 60px 80px;

    @include m.tablet-size {
        padding: 30px 40px;
    }

}

.detail-cover_container {
    display: flex;

    @include m.sp-size {
        flex-direction: column;
    }

    .block_txt {
        margin-left: 70px;

        @include m.sp-size {
            margin-left: 0;
        }
    }
}


.detail-cover_thumbnail {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    width: 420px;
    height: 420px;
    vertical-align: top;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.2));

    @include m.tablet-size {
        width: 300px;
        height: 300px;
    }

    > img {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        object-fit: cover;
    }
}

.detail-cover_ttl {

    @include m.sp-size {
        margin-top: 30px;
        text-align: center;
    }
}

.detail-cover_info {
    margin-top: 30px;
    text-align: left;
    font-size: 16px;
    line-height: 21px;
    position: relative;
    padding-bottom: 20px;
}

.detail-cover_sns {
    margin-top: 30px;
    @include m.txt-lg;
    display: flex;

    @include m.sp-size {
        flex-direction: column;
    }

    .status-container {
        &.donate-container {
            margin-left: 60px;

            @include m.sp-size {
                margin-left: 0;
                margin-top: 22px;
            }
        }
    }
}




///action///


.section-cach {

    margin-bottom: 36px;
}

.action-token_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;


    @include m.sp-size {
        gap: 20px;
        justify-content: space-between;
    }

}

.action-token {
    width: 192px;
    height: 192px;
    position: relative;
    border-radius: 20px;

    @include m.sp-size {
        width: 136px;
        height: 136px;
    }

    > a {
        display: block;

    }

    .shade {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
    }

    .action-token_data {
        @include m.p-center;
        z-index: 2;

        .data_ttl {
            font-weight: v.$font-weight-bold;
            color: v.$base-white-color;
            font-size: 28px;
            line-height: 38px;
            white-space: nowrap;

            @include m.sp-size {
                font-size: 17px;
                line-height: 23px;
            }
        }

        .status-container {
            justify-content: center;
        }

    }
}

//////works///////

.works_container {
    display: flex;
    margin-top: 40px;

    .works_thumb {
        width: 120px;
        height: 120px;

        @include m.sp-size {
            width: 64px;
            height: 64px;
        }

    }

    .works_detail {
        padding-left: 36px;

        
        @include m.sp-size {
           width: calc( 100% - 64px);
                padding-left: 16px;
        }
    }
}

.detail_container {
    display: flex;

    @include m.tablet-size {
        flex-direction: column;
    }


    .detail_box-01 {
        text-align: left;
        width: 266px;

        @include m.tablet-size {
            order: 2;

        }
    }

    .detail_box-02 {
        width:580px;
        text-align: left;
        margin-left: 84px;

        @include m.tablet-size {
            width:100%;
            order: 1;
            margin-left: 0;
        }

    }
}

section.section_works {

    .item_ttl {
        font-size: 22px;
        line-height: 29px;
        font-weight: v.$font-weight-bold;

        @include m.sp-size {
            font-size: 15px;
            line-height: 20px;
        }
    }

    .item_release-date {
        margin-top: 20px;

        @include m.tablet-size {
            display: none;
        }
    }
    
      .sp__item_release-date {
         

        @include m.pc-tablet-size {
            display: none;
        }
    }
    
    
    

    .item_status__container {
        display: flex;
         @include m.sp-size {
                font-size: 13px;
            }
    }

    .works_status-container {
        flex-wrap: wrap;
        
        li{
            margin: 2px 5px;
        }

        img {
            width: 32px;
            height: 32px;

            @include m.sp-size {
                width: 22px;
                height: 22px;
            }
        }

    }

    .item_credit__container {
        position: relative;
        padding-bottom: 16px;
         @include m.sp-size {
             margin-top: 5px;
             font-size:13px;
              line-height: 15px;
        }

        .action-btn {
            right: 0;
        }

    }

    .item_credit {
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        padding-bottom: 10px;

        @include m.tablet-size {
            display: none;
        }
    }

}