@use "config/variables"as v;
@use "mixin"as m;


/* PROJECT=DETAIL PAGE
---------------------------------------------------------------------------*/
//section//
.contents-section {
   margin-top: 30px;
}

.detail-cover-bg {
    padding-bottom: 25px;
    background-size: cover;
    background-repeat: none;
    width: 100%;
}

.detail-cover-blur {
    background: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(6px);
    padding: 60px 80px;

    @include m.tablet-size {
        padding: 30px 40px;
    }

}

.detail-cover_container {
    display: flex;

    @include m.sp-size {
        flex-direction: column;
    }

    .block_txt {
        margin-left: 70px;
        
         @media screen and (max-width: 1100px) {
             margin-left: 30px;
            }

        @include m.sp-size {
            margin-left: 0;
        }
    }
}


.detail-cover_thumbnail {
    display: inline-block;
    position: relative;
    overflow: hidden;
    border-radius: 5px;//
    width: 360px;
    height: 360px;
    vertical-align: top;
    filter: drop-shadow(10px 10px 0px rgba(0, 0, 0, 0.2));

    @include m.tablet-size {
        width: 200px;
        height: 200px;
    }

    > img {
        display: block;
        position: absolute;
        top: 50%;
        width: 100%;
        height: 100%;
        transform: translateY(-50%);
        object-fit: cover;
    }
}

.detail-cover_ttl {

    @include m.sp-size {
        margin-top: 30px;
        text-align: center;
    }
}

.detail-cover_info {
    margin-top: 30px;
    text-align: left;
    @include m.txt-md;
   //font-size: 14px;
    //line-height: 21px;
    position: relative;
    padding-bottom: 20px;
}

.detail-cover_sns {
    margin-top: 30px;
     @include m.txt-md;
     display: flex;

    @include m.tablet-size {
        flex-direction: column;
    }

    .donate-container {
            margin-left: 60px;
        text-align: left;
        
         @media screen and (max-width: 1100px) {
             margin-left: 20px;
            }
        
        @include m.tablet-size{
            margin-left: 0;
                margin-top: 22px;
        }
        
        }
   
}




///action///


.section-cach {
    margin-top: 40px;
    margin-bottom: 36px;
     @include m.sp-size{
            @include m.txt-sm;
         letter-spacing: 0.05em;
        }
    
}

.action-token_container {
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    
    @include m.between-pc-tablet-size {
        justify-content: center;
    }
    
    @include m.tablet-size {
        justify-content: space-between;
    }

    @include m.sp-size {
        gap: 20px;
    }

}

.action-token_wrap{
    overflow: hidden;
    border-radius: 20px;
}


.action-token {
    width: 192px;
    height: 192px;
    position: relative;
    transition: transform .7s;

    @include m.sp-size {
        width: 136px;
        height: 136px;
    }

    > a {
        display: block;

    }

    .shade {
        width: 100%;
        height: 100%;
        position: absolute;
        z-index: 1;
        background: rgba(0, 0, 0, 0.5);
        border-radius: 20px;
    }

    .action-token_data {
        @include m.p-center;
        z-index: 2;

        .data_ttl {
            font-weight: v.$font-weight-bold;
            color: v.$base-white-color;
            font-size: 28px;
            line-height: 38px;
            white-space: nowrap;

            @include m.sp-size {
                font-size: 17px;
                line-height: 23px;
            }
        }

        .status-container {
            justify-content: center;
        }

    }
}

.action-token_wrap:hover{
    .action-token {
	   transform: scale(1.1);
    }
}

//////works///////

.works_container {
    display: flex;
    margin-top: 40px;
    
    &.first-container{
         @include m.sp-size {
             margin-top: 18px;
        }
    }
    
    
 
}


    .works_thumb {
        width: 120px;
        height: 120px;

        @include m.sp-size {
            width: 64px;
            height: 64px;
        }

    }

    .works_detail {
        padding-left: 36px;
        width: calc( 100% - 120px);
        
        @include m.tablet-size {
                padding-left: 16px;
        }
        
        @include m.sp-size {
           width: calc( 100% - 64px);
        }
    }


.detail_container {
    display: flex;


    
     @include m.sp-size {
          flex-direction: column;
        }


    .detail_box-01 {
        text-align: left;
        width: 40%;

        @include m.sp-size {
            width: 100%;
            order: 2;
        }
    }

    .detail_box-02 {
         width: 60%;
        text-align: left;
        
         
        @include m.sp-size {
           width:100%;
            order: 1;
            margin-left: 0;
        }


    }
}



section.section_works {
    .contents-container__inner{
        padding-top: 110px;
    }

    .item_ttl {
        font-size: 22px;
        line-height: 29px;
        font-weight: v.$font-weight-bold;
        text-align: left;

        @include m.sp-size {
            font-size: 15px;
            line-height: 20px;
        }
    }
    
    
    

    .works_status-container__container {
        display: flex;
        //align-items: center;
         @include m.tablet-size {
                font-size: 13px;
            }
    }

    .works_status-container {
        padding-left: 10px;
        flex-wrap: wrap;
        
        li{
            margin: 2px 5px;
        }

        img {
            width: 28px;
            height: 28px;

            @include m.tablet-size {
                width: 22px;
                height: 22px;
            }
        }

    }

    .action-btn__container {
        position: relative;
        padding-bottom: 16px;
        
         @include m.tablet-size {
             
        }
         @include m.sp-size {
             margin-top: 5px;
             font-size:13px;
              line-height: 18px;
        }

        .action-btn {
            right: 0;
        }

    }
    
    .credit_container{
        margin-bottom: 10px;
            overflow: hidden;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
        @include m.sp-size {
            display: none;
        }
          
    }

    }




