@use "config/variables"as v;
@use "mixin"as m;

/*TOP-PAGE
---------------------------------------------------------------------------*/


////common  section inner///
section.top-contents-section,
section.bottom-btn-section {

    .contents-container__inner {
        padding: 40px 70px;

        &.no-horizontal-padding {
            padding: 40px 0px;

            @include m.tablet-size {
                padding: 30px 0;
            }
        }


        @include m.tablet-size {
            padding: 30px 24px;
        }

    }
}


//SP表示調整//

section.top-contents-section.top-contents-section_03{
    .contents-container__inner.no-horizontal-padding{
        @include m.tablet-size {
               padding-top: 0;
            }
    }
} 


/////top//////
section.top-cover-section {
    .contents-container {
        border-radius: 30px 30px 0 0;
    }
}

.top-cover_area {
    position: relative;

    .top-cover_img {
        width: 100%;
        border-radius: 30px 30px 0 0;

        &.pc-cover {
            display: block !important;

            @include m.tablet-size {
                display: none !important;
            }
        }

        &.sp-cover {
            display: none !important;

            @include m.tablet-size {
                display: block !important;
            }
        }
    }

    .slide-ttl_container {
        position: absolute;
        top: 200px;
        left: 40px;
        text-align: left;

        @include m.tablet-size {
            top: 36px;
            left: 20px;

        }
    }

    .slide-ttl {
        opacity: 0;
        /* ここを追加 */
        color: v.$base-black-color;
        font-size: 40px;
        line-height: 1.5em;
        font-weight: v.$font-weight-bold;
        animation: SlideIn 1.0s;
        animation-iteration-count: 1;
        /* アニメーションの繰り返し（無限）*/
        animation-fill-mode: forwards;

        @include m.sp-size {
            font-size: 23px;
            line-height: 1.1em;
        }

        /*これで値を保持*/
        &.ttl01 {
            animation-delay: 0.4s;
        }

        &.ttl02 {
            animation-delay: 1.2s;
        }
    }
}

////slide-ttl アニメ///

@keyframes SlideIn {
    0% {
        opacity: 0;
        transform: translateY(64px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}



///button//
.button_container {
    position: absolute;
    bottom: 108px;
    left: 40px;
    text-align: left;

    @include m.sp-size {
        left: 0;
        right: 0;
        margin: auto;
        bottom: 10px;
        text-align: center;
    }
}

.button_wrap {
    display: flex;
    gap: 27px;
    justify-content: center;
}

.notes {
    padding-top: 15px;
    font-size: 14px;
   line-height: 1.3em;

    @include m.sp-size {
        font-size: 8px;
    }
}

//button-design//
.button-deult {
    display: inline-block;
    font-size: 22px;
    line-height: 1.2em;
    text-decoration: none;
    height: 56px; //
    width: 210px;
    position: relative; //回転設定//

    @include m.sp-size {
        font-size: 13px;
        height: 33px; //
        width: 116px;
    }

    /*ボタン内側の設定*/
    span {
        display: block;
        position: absolute;
        width: 100%;
        height: 100%;
        padding: 10px 55px;
        white-space: nowrap;
        border-radius: 30px;
        border: 2px solid v.$base-white-color;
        text-align: center;
        //border: 1px solid #333;
        /* 重なりを3Dで表示 */
        transform-style: preserve-3d;
        /* アニメーションの設定 数字が少なくなるほど早く回転 */
        transition: 0.5s;

        @include m.sp-size {
            padding: 7px 0;
            border-radius: 16.5px;
        }
    }
}

/*== くるっと回転（奥に） */

/* 回転前 */
.rotateback span:nth-child(1) {
    background: v.$primary-color;
    color: v.$base-white-color;
    transform: rotateX(0deg);
    /*はじめは回転なし*/
    transform-origin: 0 50% -30px;

    /* 回転する起点 */
    @include m.sp-size {
        transform-origin: 0 50% -10px;
    }
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(1) {
    transform: rotateX(90deg);
    /* X軸に90度回転 */
}

/* 回転後 */
.rotateback span:nth-child(2) {
    background: #000;
    color: #fff;
    transform: rotateX(-90deg);
    /*はじめはX軸に-90度回転*/
    transform-origin: 0 50% -30px;
    /* 回転する起点 */
}

/*hoverをした後の形状*/
.rotateback:hover span:nth-child(2) {
    transform: rotateX(0deg);
    /* X軸に0度回転 */
}




/////top-contents-section commmon////
section.top-contents-section {
    .contents-container {
        border-radius: 0;
    }

    .section-ttl {
        font-size: 38px;
        line-height: 1.3em;
        font-weight: v.$font-weight-bold;

        @include m.sp-size {
            font-size: 22px;
            text-align: left;
        }
    }

    .section-sub-ttl {
        font-size: 32px;
        line-height: 1.3em;
        font-weight: v.$font-weight-bold;
    }

    .item_container {
        display: flex;

        .section-ttl {
            margin-bottom: 20px;

            @include m.sp-size {
                margin-bottom: 30px;
            }
        }

        .item {
            &.item_txt {
                text-align: left;

                @include m.tablet-size {
                    width: 100%;
                }

                @include m.sp-size {
                    font-size: 14px;
                }
            }

            &.item_img {
                .bg-img {
                    width: 100%;
                    height: 0;
                    background-repeat: no-repeat;
                    background-position: center center;
                }
            }
        }
    }
}







////contents part////

section.top-contents-section {

    &.top-contents-section_01 {
        .section-ttl {
            @include m.tablet-size {
                padding: 0 24px;
            }
        }

        .item_container {
            margin-top: 62px;

            @include m.tablet-size {
                margin-top: 30px;
                flex-direction: column;
            }

            .item {
                &.item_txt {
                    flex: 1;

                    .item_inner {
                        padding: 0 80px;

                        @include m.tablet-size {
                            padding: 0 24px;
                        }
                    }
                }

                &.item_img {
                    width: 62.5%;
                    margin-top: v.$top-mgn;

                    @include m.tablet-size {
                        width: 100%;
                    }

                    .bg-img {
                        padding-top: 53.5%; // (画像の高さ428 / 画像の横幅800) × 100
                        background: url(../image/top/top-contents-01_img.png); //背景画像を設定
                        background-size: cover;
                    }


                }

            }
        }

    }

    &.top-contents-section_02 {
        .item_container {
            align-items: center;

            @include m.tablet-size {
                flex-direction: column-reverse;
            }

            .item {
                &.item_txt {
                    flex: 1;

                    .item_inner {
                        padding: 0 0 0 98px;

                        @include m.tablet-size {
                            padding: 0;
                        }
                    }
                }

                &.item_img {
                    width: 47.37%; //540px / 1280-70*2//

                    @include m.tablet-size {
                        width: 100%;
                        margin-top: v.$top-mgn;
                    }

                    .bg-img {
                        padding-top: 108.703704%; // (画像の高さ587 / 画像の横幅540) × 100
                        background: url(../image/top/top-contents-02_img.png); //背景画像を設定
                        background-size: cover;
                    }
                }

            }
        }

    }


    &.top-contents-section_03 {
        .section-ttl {
            @include m.tablet-size {
                padding: 30px 24px 0;
            }
        }
        .item_container {
            background: rgba(122, 69, 229, 0.8);
            align-items: center;

            @include m.tablet-size {
                flex-direction: column;
            }

            .item {
                &.item_txt {
                    flex: 1;

                    .item_inner {
                        padding: 0 130px;

                        @include m.tablet-size {
                            padding: 0 24px;
                        }
                    }
                }

                &.item_img {
                    width: 46.875%;

                    @include m.tablet-size {
                        width: 100%;
                        margin-top: v.$top-mgn;
                    }

                    .bg-img {
                        padding-top: 83.33%; // (画像の高さ500 / 画像の横幅600) × 100
                        background: url(../image/top/top-contents-03_img.png); //背景画像を設定
                        background-size: cover;
                    }

                }


            }
        }
    }

    &.top-contents-section_04 {
        .item_container {
            margin-top: 62px;
            // align-items: center;
            @include m.tablet-size {
                flex-direction: column;
                margin-top: 30px;
            }

            .item {
                &.item_txt {
                    flex: 1;

                    .item_inner {
                        padding: 0 148px 0 0;
                         @include m.tablet-size {
                                padding: 0 ;
                            }
                    }
                }

                &.item_img {
                    width: 50.877%; //580px / 1280-70*2//

                    @include m.tablet-size {
                        width: 100%;
                        margin-top: v.$top-mgn;
                    }

                    .bg-img {
                        padding-top: 53.448%; // (画像の高さ310 / 画像の横幅580) × 100
                        background: url(../image/top/top-contents-04_img.png); //背景画像を設定
                        background-size: cover;
                    }
                }

            }
        }

    }

    &.top-contents-section_05 {
            .section-ttl {
            @include m.tablet-size {
                padding: 0 24px;
                
            }
        }
        
            .section-sub-ttl {
                @include m.tablet-size {
               text-align: center;
                    padding-top: 20px;
                
            }
            }
        .item_container {
            margin-top: 62px;
            background: rgba(122, 69, 229, 0.8);
            align-items: center;
            @include m.tablet-size {
                flex-direction:column;
                 margin-top: 0;
            }

            .item {
                &.item_txt {
                    flex: 1;

                    .item_inner {
                        padding: 0 0 0 129px;
                          @include m.tablet-size {
                                padding: 0 ;
                            }
                    }
                }

                &.item_img {
                    width: 41.754%; //476 / 1280-70*2//

                    @include m.tablet-size {
                        width: 100%;
                    }

                    .bg-img {
                        padding-top: 123.3%; // (画像の高さ587 / 画像の横幅476) × 100
                        background: url(../image/top/top-contents-05_img.png); //背景画像を設定
                        background-size: cover;
                    }

                }

            }
        }
    }
}


//roadmap///
.roadmap_container {
    position: relative;
    border-left: v.$base-white-color 1px solid;
    width: 360px;
    height: 400px;
    margin-top: 50px;
         @include m.tablet-size {
            margin: 38px auto 20px;
        
       }
        @include m.sp-size {
            width: calc( 100% - 40px);
             height: 380px; 
       }



    ul.roadmap {
        position: absolute;
        left: -7px;

        li {
            font-size: 15px;
            line-height: 3em;
              @include m.sp-size {
                        font-size: 13px;
                    }
        }

        li:before {
            content: "";/* 空の要素作成 */
            width: 13px;/* 幅指定 */
            height: 13px; /* 高さ指定 */
            display: inline-block;/* インラインブロックにする */
            background-color: #D8D8D8;
            border: 1px solid v.$base-white-color;
            position: relative; /* 位置調整 */
            top: 3px;/* 位置指定 */
            border-radius: 50%;
            margin-right: 50px;
             @include m.sp-size {
                 margin-right: 10px;
                    }
        }

        li.now:before {
            background-color: #FF9900;
        }

        li.year {
            font-size: 32px;
            font-weight: v.$font-weight-bold;
            margin-left: 35px;
            line-height: 1.2em;

            &:before {
                content: inherit;
            }
        }


    }

}



//section bottom-btn-section//
section.bottom-btn-section {
    .contents-container {
        border-radius: 0 0 30px 30px;

        .button_wrap {
            padding-top: 15px;
        }
    }
}




/*========= 流れるテキスト ===============*/
/*全共通*/

.slide-in {
    //position: absolute;
    overflow: hidden;
    display: inline-block;
}

.slide-in_inner {
    display: inline-block;

}

/* 上下のアニメーション*/
.downAnime {
    opacity: 0;
    /* 事前に透過0 にして消しておく*/
}

.slideAnimeDownUp {
    animation-name: slideTextY100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideTextY100 {
    from {
        transform: translateY(100%);
        /* 要素を上の枠外に移動*/
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* 要素を元の位置に移動*/
        opacity: 1;
    }
}

.slideAnimeUpDown {
    animation-name: slideTextY-100;
    animation-duration: 0.8s;
    animation-fill-mode: forwards;
    opacity: 0;
}

@keyframes slideTextY-100 {
    from {
        transform: translateY(-100%);
        /* 要素を下の枠外に移動*/
        opacity: 0;
    }

    to {
        transform: translateY(0);
        /* 要素を元の位置に移動*/
        opacity: 1;
    }
}