

/*BREAK POINT
---------------------------------------------------------------------------*/

///breakpoint///
$device-tablet-size: 900px;
$device-sp-size: 600px;


//size//
$size-container: 1280px;
$header-width : 1340px;
$header-height: 94px;


// Colors//


$primary-color: #7A45E5;
$secondary-color: #C2B2FF;
$tertiary-color:#63FFEC;

$base-white-color: #fff;
$base-gray-color: #181818;

$gray-01:#3E3E3E;
$base-black-color: #000000;


//typo//
$font-weight-bold: 700;
$font-weight-semibold: 500;
$font-weight-regular: 400;












